In [1]:
import pandas as pd
import sklearn as sk
import numpy as np
import json
import Alex_extract as extract

In [6]:
df = extract.extract_data('data/Alex_10_Hampelmänner-2023-05-02_15-30-18.json')
pd.set_option('display.max_columns', None)
df.head()

,sensor,seconds_elapsed,z,y,x,version,device name,recording time,platform,appVersion,device id,sensors,sampleRateMs,qz,qy,qx,qw,roll,pitch,yaw
time,,,,,,,,,,,,,,,,,,,,
1.683041e+18,Gyroscope,0.206524,-0.021172,-0.036752,0.054462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.683041e+18,Gyroscope,0.216336,-0.024368,-0.017577,0.050201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.683041e+18,Gyroscope,0.226165,-0.027564,0.009055,0.058723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.683041e+18,Gyroscope,0.236015,-0.025433,0.036752,0.067245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.683041e+18,Gyroscope,0.245895,-0.009454,0.062318,0.068310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#show first five rows of df

In [14]:
#what sensors are in the dataset?
df2['sensor'].unique()

NameError: name 'df2' is not defined

In [15]:
#show columns of df
df2.columns

NameError: name 'df2' is not defined

In [17]:
grouped = df2.groupby(by='sensor')

NameError: name 'df2' is not defined

In [19]:
#dröselt das json in einzelne CSV datein auf und speichert diese
for sensor, group in grouped:
    sensor_df = pd.DataFrame(group)
    # Speichert das DataFrame für den aktuellen Sensor in eine CSV-Datei
    sensor_df.to_csv(f'Data2_{sensor}_data.csv', index=False)

In [4]:
def df2_klassifizieren (
    df2: pd.DataFrame,
    sensor: str,
    schwellwert: float
) -> pd.DataFrame:
    """Klassifiziert die Daten des gegebenen Sensors in 'normal' und 'anomal'."""
    # Kopie des DataFrames erstellen
    df2_klassifiziert = df2.copy()
    # Spalte 'klassifikation' mit dem Wert 'normal' erstellen
    df2_klassifiziert['klassifikation'] = 'normal'
    # Alle Werte, die den Schwellwert überschreiten, als 'anomal' klassifizieren
    df2_klassifiziert.loc[df2_klassifiziert['value'] > schwellwert, 'klassifikation'] = 'anomal'
    # Klassifizierten DataFrame zurückgeben
    return df2_klassifiziert